.footer {
    margin-top: auto;
    padding: 0 5%;
    height: 2.5em;
    display: flex;
    color: #f9f2db;
    background-color: #2f4858;
    align-items: center;
}

.footer span,
.footer a {
    color: inherit;
    background-color: inherit;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

.icon-box {
    color: inherit;
    background-color: inherit;
}

.icon-box a {
    margin: 0 5px;
    background-color: inherit;
} 

.link-icon {
  font-size: 18px;
  background-color: #2f4858;
}

.link-icon * {
    color: #f9f2db;
}

.text-box {
    color: inherit;
    background-color: inherit;
    margin-left: auto;
    margin-right: 2.5%;
}

.copyright-box {
    color: inherit;
    background-color: inherit;
}

.copyright-box .link-icon {
    font-size: 12px;
    margin-right: 5px;
}
