.card {
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 2px 4px #2f4f58;
  transition: transform 0.3s ease;
  background-color: #52d2fe;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  padding: 0.5%;
}

.card:hover {
  transform: translateY(-5px);
}

.card div {
  display: flex;
  align-items: center;
}

.card img {
  height: 128px;
  border-radius: 5px;
  margin-right: 2%;
  border: 1px solid #111;
}
