.banner-box {
    height: 50vh;
    margin: auto;
    max-width: 1920px;
    overflow: hidden;
    white-space: nowrap;
    width: 100;
    position: absolute;
    inset: 10% 0 15%;
}

.image-box {
    border: 3px solid #2f4858;
    box-sizing: border-box;
    height: inherit;
    overflow: hidden;
    position: absolute;
    width: inherit;
    z-index: 1;
}

.image-box > span {
    background-color: transparent;
    bottom: 0;
    color: #f9f2db;
    font-size: 10px;
    left: 0;
    position: absolute;
}

.banner-img {
    height: 500px;
    width: 1920px;
}

.left-tile {
    background-color: transparent;
    border-right: 3px solid #2f4858;
    display: inline-block;
    height: inherit;
    margin-right: -3px;
    position: relative;
    transform: skewX(-20deg);
    width: 500px;
    z-index: 2;
}

.right-tile {
    backface-visibility: hidden;
    background-color: inherit;
    border-left: 3px solid #2f4858;
    border-right: 3px solid #2f4858;
    display: inline-block;
    height: 101%;
    margin-right: 20%;
    margin-top: -2px;
    position: relative;
    transform: skewX(-20deg);
    width: 250px;
    z-index: 2;
}

@media (width <= 768px) {
    .left-tile {
        width: 350px;
    }
}

@media (width > 768px) {
    .banner-box {
        margin: auto -0.25em;
    }
}
