.background {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.container {
  width: 30%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 20%;
  background-color: #a1f2ff;
}

.heading {
  color: #111;
}
