* {
  color: #2f4858;
  background-color: #f9f2db;
}

.background {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  position: absolute;
  inset: 0;
}

.container {
  position: relative;
  flex: 1;
}

.section {
  padding: 1em 0.5em;
  position: relative;
}

.section > div > h2 {
  border-bottom: solid 2px;
}

.container > :nth-child(2n-0) {
  background-color: #52d2fe;
  color: #f9f2db;
}

.container > .section:nth-child(2n-0) * {
  background-color: inherit;
}

.container > :nth-child(2n-0) a:hover {
  color: #f9f2db;
}

.container > .section:nth-child(2n-1) * {
  background-color: inherit;
}

.container > .section:nth-child(2n-1) a:hover {
  color: #52d2fe;
}

@media (width <= 700px) {
  .container {
    margin: 0.5em 0;
  }
  
  .section > div {
    display: inline-block;
    max-width: 100%;
  }
}

@media (width > 700px) {
  .container {
    margin: 0.5em 0.25em;
  }
  
  .container > :nth-child(2n-0) {
    padding-right: 12.5%;
    text-align: right;
  }

  .container > .section:nth-child(2n-1) {
    padding-left: 12.5%;
    text-align: left;
  }

  .section > div {
    display: inline-block;
    max-width: 60%;
  }

  .container > .section:nth-child(2n-0) > div > ul > li:hover {
    transform: translateX(-10px);
  }

  .container > .section:nth-child(2n-1) > div > ul > li:hover {
    transform: translateX(10px);
  }
}
