.navigation {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  font-family: Poppins, sans-serif;
  height: 7vh;
  margin-bottom: 1em;
  text-transform: uppercase;
  width: 100%;
}

.logo {
  color: #52d2fe;
  margin-left: 2.5%;
  font-size: 18px;
  font-weight: bolder;
}

.menu-icon {
  margin-left: 1em;
}

.nav-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-link {
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  margin: 0 1vw;
  position: relative;
  text-decoration: none;
  transition: all 200ms ease-in;
  white-space: nowrap;
}

.nav-link > .link-icon {
  font-size: 12px;
  margin-left: 2px;
  margin-bottom: 6px;
}

.active-nav-link {
  display: inline-block;
  white-space: nowrap;
  margin: 0 1vw;
  transition: all 200ms ease-in;
  position: relative;
  font-size: 20px;
  text-decoration: underline;
}

@media (width <= 768px) {
  .navigation {
    position: relative;
    flex-direction: column;
    z-index: 10;
    margin-top: 1em;
  }

  .nav-box {
    position: fixed;
    margin: 4vh 1vh;
    flex-direction: column;
    border: 1px solid;
    width: 90%;
    box-sizing: border-box;
    border-radius: 3px;
  }

  .nav-link {
    margin: 1em;
    z-index: 10;
  }
}

@media (width > 768px) {
  .navigation {
    justify-content: space-between;
  }

  .menu-icon {
    display: none;
  }
}
