.navigation {
  height: 8vh;
  margin: auto;
  position: sticky;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
}

.nav-box {
  display: flex;
  height: 100%;
  width: 30%;
  float: left;
  justify-content: flex-start;
  align-items: center;
  margin: 0 1vw;
  border-bottom: 3px solid #111;
}

.nav-link {
  text-decoration: none;
  color: #111;
  display: inline-block;
  white-space: nowrap;
  margin: 0 1vw;
  transition: all 200ms ease-in;
  position: relative;
  font-size: 20px;
}

.nav-link > img {
  height: 16px;
  width: 16px;
  margin-left: 2px;
  margin-bottom: 4px;
}

.active-nav-link {
  font-style: bold;
  color: #111;
  display: inline-block;
  white-space: nowrap;
  margin: 0 1vw;
  transition: all 200ms ease-in;
  position: relative;
  font-weight: bold;
  font-size: 20px;
}
